* {
    font-size: 1em;
    /* font color */
    color: hsla(0, 100%, 0%, 1);
    font-family: Arial;
}

/* remove a setinha pra baixo dos selects */
/* select { appearance: none; } */

.force_scroll {
    /* overflow: scroll; */
    /* 8k width */
    /* width: 7680px;  */
}

div.card {
    /* background-color: hsla(270, 100%, 70%, 0.05); */
    /* background-color: #cc99ddee; */
    margin: 5px 5px 5px 5px;
}

div.idented {
    margin-left: 10px;
}

div.pad10px {
    padding: 5px;
}

.highlight {
    background-color: hsla(60, 100%, 50%, 0.999999);
}

textarea {
    border: none;
}

input,
select {
    border: none;
}

.margin5px {
    margin: 5px 5px 5px 5px;
}

input:hover,
textarea:hover,
button:hover,
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}

input[type="button"] {
    background-color: hsla(270, 100%, 80%, 0.7);
}

/* input[type="button"].up{
    background-color: #00000000;
    background-image: url(up.png);
    width: 16px;
    height: 16px;
} */

.bold {
    font-weight: bold;
}

.gray {
    color: hsla(0, 0%, 50%, 1.0);
}
























/*
TODO: testar tooltip css
https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
