.force_scroll{
    /* overflow: scroll; */
    /* 8k width */
    /* width: 7680px;  */
}

div.card{
    background-color: #cc99ddee;
    margin: 5px 5px 5px 5px;
}

div.idented{
    margin-left: 20px;
}

div.pad10px{
    padding: 5px;
}

.highlight{
    background-color: #FFFF00;
}

textarea{
    border: none;
}

input{
    border: none;
}

.margin5px{
    margin: 5px 5px 5px 5px;
}

input:hover, textarea:hover, button:hover, input:focus, textarea:focus, button:focus{
    outline: none;
}

input[type="button"]{
    background-color: #e3cdf199;
}

/* input[type="button"].up{
    background-color: #00000000;
    background-image: url(up.png);
    width: 16px;
    height: 16px;
} */
